{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All Things

{% endblock %}


{% block content %}

    <h1>Dinner Planner!</h1>


    <article>

        <ul>
            {% for thing in things %}

                <li>
                    <a href="/people/{{ people.id }}">
                        {{ people.name }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Add a new dinner plan!</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Family Member"
                required
            >

             <input
                type="text"
                name="name"
                placeholder="Meal"
                required
            >

            <input
                type="number"
                name="price"
                min="0"
                placeholder="Date"
                required
            >

            <button>+ Add</button>

        </form>

    </article>

{% endblock %}


