{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1></h1>

    <p></p>

    <p></p>

    <ul></ul>

    <a href="/people" role="button">+ Add</a>

{% endblock %}

