{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Dinner Planner!

{% endblock %}


{% block content %}

    <h1>Dinner</h1>


    <article>

        <header>
            <h3>{{ plan.name }}</h3>
        </header>

        <p>Meal: <strong>{{ plan.meal }}</strong></p>

        <footer>
            <a href="/delete/{{ plan.id }}" onclick="return confirm('Really delete?');">Delete</a>
        </footer>

    </article>


    <a role="button" href="/">back</a>

{% endblock %}

