{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

   Dinner Planner!

{% endblock %}


{% block content %}

    <h1>Dinner Planner!</h1>


    <article>

        <ul>
            {% for plan in  planner %}

                <li>
                    <a href="/planner/{{ plan.id }}">

                        {{ plan.name }}
                    </a>
                </li>




            {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Add a new dinner plan!</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Family Member"
                required
            >

            <input
                type="text"
                name="meal"
                placeholder="meal"
                required
            >


            </select>
            <button>+ Add</button>

        </form>

    </article>

{% endblock %}


